@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);
html, body {
    margin: 0;
    padding: 0;
    * {
        box-sizing: border-box;
    }
    font: 140%/1.5 "Roboto", Verdana, sans-serif
}
.page {
    &.at-first-slide > .previous-button {
        display: none;
    }
    &.at-last-slide > .previous-button {
        display: none;
    }
    > button {
        z-index: 999;
        cursor: pointer;
        position: fixed;
        top: 50%;
        height: 2em;
        font-size: 1em;
        border: none;
        background: #2B2B2B;
        line-height: 2em;
        margin-top: -1em;
        width: 2em;
        text-align: center;
        color: #fff;
        &.next-button {
            right: 0;
        }
    }
    > div {
        transition: all .3s ease;
        > article {
            display: table;
            height: 100vh;
            > div {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
            &:nth-child(1) {
                background: #65C6BB;
                h1 {
                    font-weight: 100;
                    font-size: 3em;
                    margin: 0;
                }
                p {
                    margin: 1em auto .5em auto;
                    max-width: 800px;
                    font-weight: 100;
                    line-height: 1em;
                }
            }
        }
    }
}
